.servicios
	height: 300px
	.serv
		height: 163px
		margin: auto
		background-color: $c_Cab
		display: inline-block
		text-align: center
		a 
			text-decoration: none
			color: $plata
			i 
				padding-top: 25px
				font-size: 80px
				
			h3
				padding-top: 5px
				font-size: 30px
			&:hover
				color: $c_cat


.sec_seccion
	background-color: $c_Cab
	height: 370px
	border-radius: 10px
	.cat
		margin-top: 2em
		margin-bottom: 1em
		margin-right: auto
		margin-left: auto
		height: 300px
		width: auto
		display: inline-block
		background-color: $c_cat
		font-size: $tam_letra
		color: white
		border-radius: 10px
		.logo
			text-align: center
			margin-top: 20px
			color: $plata
			font-size: 20px
			.fa 
				padding-bottom: 10px
				color: $c_logo
				font-size: 80px
		a 
			text-decoration: none
			font-weight: bold
			color: $c_enlace
			&:hover
				color: $c_hover

