.servicios
	height: 400px
	.serv
		height: 300px
		width: auto
		margin: auto
		background-color: $c_Cab
		display: inline-block
		text-align: center
		a 
			text-decoration: none
			color: $plata
			i 
				padding-top: 45px
				font-size: 100px
				
			h3
				font-size: 40px
			&:hover
				color: $c_cat


.sec_seccion
	background-color: $c_Cab
	height: 330px
	.cat
		margin: auto
		height: 300px
		width: auto
		display: inline-block
		background-color: $c_cat
		font-size: $tam_letra
		color: white
		.logo
			text-align: center
			margin-top: 20px
			color: $plata
			font-size: 20px
			.fa 
				padding-bottom: 10px
				color: $c_logo
				font-size: 80px
		a 
			text-decoration: none
			font-weight: bold
			color: $c_enlace
			&:hover
				color: $c_hover

