body {
  background-color: #F8F8F8; }

header {
  background-color: #051838;
  height: 56px; }
  header .logo {
    float: left;
    text-align: center;
    color: #FFF; }
    header .logo h1 {
      padding-top: 5px;
      font-size: 38px; }
  header nav {
    background-color: #051838;
    float: left; }
  header .navbar {
    background-color: #051838; }
    header .navbar .nav-link:hover {
      background-color: #F9EDD5; }

.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active {
  color: #FFF; }
  .navbar-light .navbar-nav .open > .nav-link:hover, .navbar-light .navbar-nav .active > .nav-link:hover, .navbar-light .navbar-nav .nav-link.open:hover, .navbar-light .navbar-nav .nav-link.active:hover {
    color: black; }

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
  color: #FFF; }
  .navbar-light .navbar-brand:hover, .navbar-light .navbar-toggler:hover {
    color: #F8F8F8; }

.btn-outline-success {
  color: #FFF;
  border-color: #D4AF6A; }

.btn-outline-success:hover {
  background-color: #D4AF6A;
  border-color: #D4AF6A; }

#carouselExampleControls {
  height: 500px;
  display: block;
  margin: 5px auto 5px auto; }

.carousel-item img {
  height: 500px;
  display: block;
  margin: 0 auto 0 auto;
  vertical-align: middle; }

.servicios {
  height: 400px; }
  .servicios .serv {
    height: 300px;
    width: auto;
    margin: auto;
    background-color: #051838;
    display: inline-block;
    text-align: center; }
    .servicios .serv a {
      text-decoration: none;
      color: #F8F8F8; }
      .servicios .serv a i {
        padding-top: 45px;
        font-size: 100px; }
      .servicios .serv a h3 {
        font-size: 40px; }
      .servicios .serv a:hover {
        color: #E3AF48; }

.sec_seccion {
  background-color: #051838;
  height: 330px; }
  .sec_seccion .cat {
    margin: auto;
    height: 300px;
    width: auto;
    display: inline-block;
    background-color: #E3AF48;
    font-size: 17px;
    color: white; }
    .sec_seccion .cat .logo {
      text-align: center;
      margin-top: 20px;
      color: #F8F8F8;
      font-size: 20px; }
      .sec_seccion .cat .logo .fa {
        padding-bottom: 10px;
        color: #051838;
        font-size: 80px; }
    .sec_seccion .cat a {
      text-decoration: none;
      font-weight: bold;
      color: #20304C; }
      .sec_seccion .cat a:hover {
        color: #F9EDD5; }

footer {
  height: 170px;
  background-color: #F8F8F8; }
  footer div {
    margin-top: 1em;
    float: left; }
    footer div p {
      color: black; }

.copy p {
  margin: 10px; }

.redsocial li {
  list-style-type: none; }
  .redsocial li a {
    text-decoration: none; }
    .redsocial li a i {
      font-size: 40px;
      float: left;
      margin-right: 20px;
      margin-bottom: 30px;
      color: #051838; }
    .redsocial li a p {
      font-size: 20px;
      margin-top: 3px;
      color: black; }
      .redsocial li a p:hover {
        color: #051838; }

/*# sourceMappingURL=main.css.map */
